<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title><h:outputText value="#{msg['welcome.titre']}" /></title>

    </h:head>
    <body>
        <div id="site_content">
            <ul id="photos">
                <c:forEach var="imageID" items="#{traitementImages.images}" varStatus="loop">
                    <c:set var="xx" scope="session" value="${imageID}"/>
                    <li>  <p:graphicImage value="#{traitementImages.imagex}" height="200" >
                            <f:param name="id" value="#{imageID}" />
                        </p:graphicImage>
                    </li>  
                </c:forEach>
            </ul>
        </div>
        <div id="sidebar_container">
            
            <div class="sidebar">
             <h3><h:outputText value="#{msg['welcome.latestnews']}" /></h3>
                 <h:panelGrid> 
              
                <h:dataTable value="#{form.allNews}" var="loc">
                    <h:column>

                        <h4>   <h:outputText value="#{loc.titre}"/></h4> 
                        <h5><h:outputText value="#{loc.dateCreation}"/></h5>
                        <p><h:outputText value="#{loc.texte}"/></p>
                    </h:column>
                </h:dataTable>
            </h:panelGrid>
            </div>
        </div>
        <div class="content">
            <h1><h:outputText value="#{msg['welcome.welcome']}" /></h1>
            <h2>     <h:outputText value="#{form.uneTitre}"/> </h2> 

            <p><h:outputText value="#{form.uneTexte}"/></p>
        </div>



        <script type="text/javascript" src="js/jquery.easing-sooper.js"></script>
        <script type="text/javascript" src="js/jquery.sooperfish.js"></script>
        <script type="text/javascript" src="js/jquery.kwicks.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#photos').kwicks({
                    minSize: 20,
                    behavior: 'slideshow',
                    spacing: 5
                });
                $('ul.sf-menu').sooperfish();

            });
            function enableProprio() {


            }
            function disableProprio() {


            }
        </script>

    </body>

</html>
