<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title><h:outputText value="#{msg['welcome.titre']}" /></title>
    
    </h:head>  

    <body>

        <div class="content">

            <h1><h:outputText value="#{msg['enreg.titre']}"/></h1>
            <p:panelGrid  >
                <p:row>
                    <p:column style="width:21%; margin-top:20px" >
                        <h:outputLabel for="noSerie" value="#{msg['enreg.noserie']} :" />
                    </p:column>
                    <p:column style="width:75%" colspan="2" >
                        <p:inputText id="noSerie" value="#{enreg.noSerie}" maxlength="5" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column >
                        <h:outputLabel for="anneeFab" value="#{msg['enreg.anneFab']} :" />
                    </p:column>
                    <p:column  >  
                        <p:selectOneMenu id="anneeFab" value="#{enreg.annee}" style="width:150px" >
                            <f:selectItem itemLabel="-" itemValue="0" />
                            <f:selectItem itemLabel="1971" itemValue="71" />
                            <f:selectItem itemLabel="1972" itemValue="72" />
                            <f:selectItem itemLabel="1973" itemValue="73" />
                            <f:selectItem itemLabel="1974" itemValue="74" />
                            <f:selectItem itemLabel="1975" itemValue="75" />
                            <f:selectItem itemLabel="1976" itemValue="76" />
                            <f:selectItem itemLabel="1977" itemValue="77" />

                        </p:selectOneMenu>
                    </p:column>
                    <p:column >    
                        <h:outputLabel for="status" value="#{msg['enreg.status']} :" />

                        <p:selectOneMenu id="status" value="#{enreg.statusChoisi}" 
                                         widgetVar="myStatus">
                            <f:selectItems value="#{enreg.lesStatus}" var="c"
                                           itemValue="#{c.idlocaleStatus}" itemLabel="#{c.description}">

                            </f:selectItems>
                        </p:selectOneMenu>
                    </p:column> 
                </p:row>
                <p:row>
                    <p:column >          
                        <h:outputLabel for="drive" value="#{msg['enreg.drive']} :" />
                    </p:column>
                    <p:column colspan="2" >  
                        <p:selectOneRadio id="drive" value="#{enreg.drive}">
                            <f:selectItem  itemLabel="#{msg['enreg.droit']}    " itemValue="R" />
                            <f:selectItem itemLabel="       #{msg['enreg.gauche']}" itemValue="L" />

                        </p:selectOneRadio>
                    </p:column>  
                </p:row>
                <p:row>   
                    <p:column >    
                        <h:outputLabel for="couleur" value="#{msg['enreg.couleur']} :" />
                    </p:column> 
                    <p:column >    
                        <p:selectOneMenu id="couleur" value="#{enreg.couleurChoisie}" 
                                         widgetVar="myCouleur">
                            <p:ajax listener="#{enreg.couleurChanged}" />
                            <f:selectItems value="#{enreg.lesCouleurs}" var="c"
                                           itemValue="#{c.idlocaleCouleur}" itemLabel="#{c.description}">

                            </f:selectItems>
                        </p:selectOneMenu>
                    </p:column> 
                    <p:column >    
                        <p:inputText id="descCouleur" value="#{enreg.descCouleur}" disabled="#{enreg.renderDesc}" size="40" maxlength="100" widgetVar="myDesc" />
                    </p:column> 
                </p:row> 
                <p:row>   
                    <p:column >    
                        <h:outputLabel for="interieur" value="#{msg['enreg.interieur']} :" />
                    </p:column> 
                    <p:column colspan="2" >      
                        <p:selectOneMenu id="interieur" value="#{enreg.interieurChoisi}" 
                                         widgetVar="myInterieur">
                            <f:selectItems value="#{enreg.lesInterieurs}" var="c"
                                           itemValue="#{c.idlocaleInterieur}" itemLabel="#{c.description}">

                            </f:selectItems>
                        </p:selectOneMenu>
                    </p:column> 
                </p:row>   
                <p:row>   
                    <p:column >    
                        <h:outputLabel for="photo" value="#{msg['enreg.photo']} :" />
                    </p:column> 
                    <p:column colspan="2" >      
                        <p:fileUpload id="photo"  fileUploadListener="#{upload.handleFileUpload}" mode="advanced" dragDropSupport="false"
                                      update="rafraichi"   allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />


                        <p:graphicImage id="rafraichi" height="400px" cache="0" value="#{upload.image}" />

                    </p:column> 
                    <p:column >    
                        <p:commandButton id="resetImage"  type="submit"   update="rafraichi"  value="#{msg['enreg.reset']}"
                                         actionListener="#{upload.reset}"    >  
                        </p:commandButton>
                    </p:column> 
                </p:row>   
            </p:panelGrid >

            <p:panel   widgetVar="proprioP" closable="true" style="margin-bottom:20px" header="#{msg['enreg.proprio']}" rendered="#{!login.loggedIn}" >
                <p:panelGrid style="width:auto" >
                    <p:row> 
                        <p:column >    
                            <h:outputLabel for="nom" value="#{msg['enreg.nom']} :" />
                        
                            <p:inputText label="nom" id="nom" value="#{credentials.nom}"  size="40" maxlength="100" />
                        </p:column> 
                        <p:column >  
                               <h:outputLabel for="nom" value="#{msg['enreg.nom']} :" />
                            <p:inputText id="prenom" value="#{credentials.prenom}" size="40" maxlength="100" />
                        </p:column> 
                    </p:row>
                    <p:row>  
                        <p:column >    
                            <h:outputLabel for="adresse" value="#{msg['enreg.adresse']} :" />
                         
                            <p:inputText id="adresse" value="#{credentials.adresseMail}"  size="40" maxlength="100"  />
                        </p:column> 
                        <p:column >  
                             <h:outputLabel for="pays" value="#{msg['enreg.adresse']} :" />
                            <p:selectOneMenu id="pays" value="#{credentials.paysChoisi}" 
                                             widgetVar="myPays">

                                <f:selectItems value="#{enreg.lesPays}" var="c"
                                               itemValue="#{c.idlocalePays}" itemLabel="#{c.description}">

                                </f:selectItems>
                            </p:selectOneMenu>
                        </p:column> 

                    </p:row> 
                    <p:row> 
                        <p:column >                  
                            <h:outputLabel for="pwd1" value="Password" />
                            <p:password id="pwd1" widgetVar="pwd1" value="#{credentials.password}" label="Password 1"  />
                        </p:column> 
                        <p:column >     
                            <h:outputLabel for="pwd2" value="Confirmation: " />
                            <p:password id="pwd2" widgetVar="pwd2" value="#{credentials.passwordc}" label="Password 2"  />
                        </p:column>
                     
                    </p:row>
                </p:panelGrid >
            </p:panel>

            <p:commandButton id="s"  type="submit"   update="@form"  value="#{msg['enreg.suite']}" actionListener="#{enreg.saveMonty}" ajax="false"  >
            </p:commandButton>
        </div>

        <script type="text/javascript">
            function enableProprio() {

                PF('proprioP').show();
            }
            function disableProprio() {

                PF('proprioP').close();
            }
            function disableCouleur() {
                console.log("disable");
                PrimeFaces.widgets.myDesc.disable();
            }
            function enableCouleur() {
                console.log("enable");
                PrimeFaces.widgets.myDesc.enable();
            }
        </script>
    </body>
</html>
