<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
     xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
   

        <div id="logo">

            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->


                <h1><a href="index.xhtml.html"><span class="logo_colour">Registre Montreal</span></a></h1>
                <h2>Enregistrement des Alfa Romeo Montreals</h2>
                <div style="border: 2px; float:right; margin-top: -45px; alignment-adjust: middle;">
                    <h:commandLink action="#{locale.setFrenchLocale}">
                        <h:graphicImage  value="./images/fr.png" />

                    </h:commandLink>
                    <h:commandLink  action="#{locale.setEnglishLocale}">
                        <h:graphicImage  value="./images/gb.png" />
                    </h:commandLink>

                    <p:commandButton value="Connexion" type="button" onclick="PF('dlg2').show();" />  

                    <p:outputLabel  id="currentLog" value="#{login.user}" />


                </div>


                <p:growl id="messages" showDetail="true" />

            </div>
        </div>
        <nav>
            <ul class="sf-menu" id="nav">
                <li class="selected"> <h:commandLink value="#{msg['form.home']}" action="#{form.doAccueil()}"/></li>
                <li class="selected"> <h:commandLink value="#{msg['form.registre']}" action="#{form.doRegistre()}"/></li>

                <li class="selected"> <h:commandLink value="#{msg['form.faq']}" action="#{form.doFaq()}"/></li>
                <li class="selected"> <h:commandLink value="#{msg['form.submit']}" action="#{form.doEnregistrer()}"/></li>
                <li class="selected"> <h:commandLink value="#{msg['form.admin']}" action="#{form.doAdmin()}"/></li>
            </ul>

        </nav>

    </body>

</html>
