<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
 <h:head>
            <title><h:outputText value="#{msg['welcome.titre']}" /></title>

  
        </h:head>  

    <body>

        <div class="content">
            <h1><h:outputText value="#{msg['faq.titre']}"/></h1>
            <h:panelGrid> 
               


                <h:dataTable value="#{form.faqs}" var="loc">
                    <h:column>

                        <h2>  <h:outputText value="#{loc.idFaq}"/>.   <h:outputText value="#{loc.titre}"/> parv <h:outputText value="#{loc.auteur}"/></h2> 

                        <p><h:outputText value="#{loc.texte}" escape="false" /></p>
                    </h:column>
                </h:dataTable>
            </h:panelGrid>
        </div>


        <p>&nbsp;</p>

    </body>
<script type="text/javascript">

     
        function enableProprio() {
                console.log("faq proprio");
             
            }
            function disableProprio() {
                console.log("faq proprio");
               
            }

    </script>

</html>
