<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition template="layout.xhtml">
        <ui:define name="contenu">
            <h:panelGroup rendered="#{form.accueilRendered}">
                <ui:include src="accueil.xhtml"/>
            </h:panelGroup>
            <h:panelGroup rendered="#{form.faqRendered}">
                <ui:include src="faq.xhtml"/>
            </h:panelGroup>
            <h:panelGroup rendered="#{form.registreRendered}">
                <ui:include src="registre.xhtml"/>
            </h:panelGroup>
            <h:panelGroup rendered="#{form.enregRendered}">
                <ui:include src="enreg.xhtml"/>
            </h:panelGroup>
            <h:panelGroup rendered="#{form.erreurRendered}">
                <ui:include src="faq.xhtml"/>
            </h:panelGroup>
        </ui:define>
    </ui:composition>  
    
    

</html>
