<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view locale="#{locale.locale}">
        <h:head>
            <title><h:outputText value="#{msg['welcome.titre']}" /></title>

            <meta name="description" content="website description" />
            <meta name="keywords" content="website keywords, website keywords" />
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
            <link rel="stylesheet" type="text/css" href="css/style.css" />
            <!-- modernizr enables HTML5 elements and feature detects -->
            <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>

        </h:head>


        <h:body>

            <h:form id="formulaire">
                <table style="width: 1200px">
                    <tr>
                        <td colspan="2" >
                            <ui:include src="entete.xhtml"/>

                        </td>
                    </tr>    
                    <tr>
                        <td>
                            <ui:insert name="contenu">

                            </ui:insert>
                        </td>
                    </tr>  
                </table>
            </h:form>
            <p:dialog header="Login" widgetVar="dlg2"  modal="true" height="100">
                <h:form id="loginF" >
                    <p:growl  id="growl" showDetail="true" />                     
                    <h:panelGrid columns="2" rendered="#{!login.loggedIn}">
                        <h:outputLabel for="username">Username:</h:outputLabel>
                        <h:inputText id="username" value="#{credentials.adresseMail}" />
                        <h:outputLabel for="password">Password:</h:outputLabel>
                        <h:inputText id="password" value="#{credentials.password}"  />
                    </h:panelGrid>
                    <p:remoteCommand name="valideLogin" actionListener="#{login.login}"/>
                    <h:commandButton id="loginB" value="Login" type="button" 
                                     onclick="valideLogin()" rendered="#{!login.loggedIn}"/>
                    <p:remoteCommand name="closeLogin" actionListener="#{login.logout}"/>
                    <h:commandButton id="logoutB" value="Logout" type="button"
                                     onclick="closeLogin()" 
                                     rendered="#{login.loggedIn}"/>
                </h:form>
            </p:dialog>  
            <f:facet name="last">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
</f:facet> 
        </h:body>
    </f:view>
    <script type="text/javascript">

        function fermeLogin() {
            //    PrimeFaces.widgets.proprioP.close();
            PrimeFaces.widgets.dlg2.hide();
            //  enableProprio();
        }
    

    </script>

</html>
