<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title><h:outputText value="#{msg['welcome.titre']}" /></title>

    </h:head>  

    <body>

        <p:panelGrid>
            <p:row>
                <p:column  style="width:20%">Nuccmero serie</p:column>
                <p:column colspan="2" >BBB</p:column>

            </p:row>
            <p:row>
                <p:column  >année</p:column>
                <p:column colspan="2">BBB</p:column>
            </p:row>
            <p:row>
                <p:column >conduite</p:column>
                <p:column colspan="2">BBB</p:column>
            </p:row>
            <p:row>
                <p:column >couleur</p:column>
                <p:column >DDD</p:column>
                <p:column >DDescritiop,</p:column>
            </p:row>

        </p:panelGrid>  

    </body>

<script type="text/javascript">

     
        function enableProprio() {
              
             
            }
            function disableProprio() {
             
               
            }

    </script>
</html>
